<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semi-Finals</title>
</head>
<body class="flex items-center justify-center min-h-screen">
    <div class="text-center p-10 bg-green rounder-3xl shadow-2xl max-w-lg">
       <p>
          Name: Jander M. Segundo <br>

         Section:  3rd Year (1st-25-A) <br>

         Course:  System Integration <br>

           Semi-Final Exam
       </p>

    </div>
</body>
</html>